@import "utils/vars";
@import "utils/mixin";
.escuelait {
    background: $color;
}

/*.postcss {
  background: var(--color2);
}*/

.postcss {
    @mixin postcss 300px, 3;
    .child{
    	background: pink;
    	&:hover{
    		background:white;
    		display: flex; 
    	}
    }
}
