:root {
  --color2: red;
}

.escuelait {
    background: pink;
}

/*.postcss {
  background: var(--color2);
}*/

.postcss {
    background: pink;
    width: 300px;
    -webkit-transform: scale(3);
            transform: scale(3);
}

.postcss .child{
  background: pink;
}

.postcss .child:hover{
  background:white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
